/* normal */
@font-face
    font-family: 'Source Sans Pro'
    font-style: normal
    font-weight: 400
    src: local('Source Sans Pro'), local('SourceSansPro'), url("../SourceSansPro-Regular.ttf") format('ttf')


/* bold */
@font-face
    font-family: 'Source Sans Pro'
    font-style: normal
    font-weight: 700
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url("../SourceSansPro-Bold.ttf") format('ttf')


/* italic */
@font-face
    font-family: 'Source Sans Pro'
    font-style: italic
    font-weight: 400
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url("../SourceSansPro-Italic.ttf") format('ttf')


/* light */
@font-face
    font-family: 'Source Sans Pro'
    font-style: normal
    font-weight: 300
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url("../SourceSansPro-Light.ttf") format('ttf')
