

// COLORS
$color-charade = #272b33
$color-shark = #20242a
$color-white = #FFF
$color-shakespear = #ff8471 // old -> #53B3D1

// IMPORTS
@import "fonts"
@import "ui"
@import "reset"

@import "fragments/header"
@import "fragments/movie"
@import "fragments/movie-details"
