.main-header
    background: rgba(0,0,0,0.3)
    width: 100%
    height: 50px
    line-height: 50px
    position: absolute
    top: 0
    font-size: 16px
    z-index: 2
    -webkit-user-select: none
    -webkit-app-region: drag

    .logo
        position: absolute
        width: 100%
        height: 100%
        line-height: 50px
        top: 0
        left: 0
        z-index: 1
        text-align: center
        color: $color-white

    .settings
        height: 100%
        line-height: 50px
        font-size: 18px
        position: absolute
        top: 0
        right: 15px
        z-index: 2

    .os-buttons
        display: block
        width: 85px
        height: 100%
        z-index: 2
        position: absolute
        top: 0
        left: 15px

        .button
            display: inline-block
            width: 13px
            height: 13px
            background-size: contain
            margin-right: 8px

            &.cls
                background-image: url("../images/header/close-normal.svg")
            &.min
                background-image: url("../images/header/min-normal.svg")
            &.max
                background-image: url("../images/header/max-normal.svg")

        &:hover
            .cls
                background-image: url("../images/header/close-hover.svg")
            .min
                background-image: url("../images/header/min-hover.svg")
            .max
                background-image: url("../images/header/max-hover.svg")
