.movie-details
    width: 100%
    height: calc(100vh - 50px)
    position: fixed
    top: 50px
    background: rgba(0, 0, 0, 0.9)
    z-index: 10


    .close
        position: absolute
        right: 30px
        top: 20px
        font-size: 30px
        color: $color-white
        transition: opacity .3s ease
        opacity: 0.5

        &:hover
            opacity: 1


    .content
        position: absolute
        width: 700px
        height: 300px
        top: 0
        right: 0
        left: 0
        bottom: 0
        margin: auto

        .thumb
            position: absolute
            width: 204px
            height: 300px
            left: 0
            top: 0

            .image
                width: 204px
                height: 300px
                background-repeat: no-repeat
                background-size: cover
                border-radius: 5px


        .infos
            position: absolute
            width: 465px
            height: 300px
            left: 234px

            p, h3

                margin: 0

            .cast, .additional_infos
                opacity: 0.5

            .title
                font-size: 40px

            .additional_infos

                span
                    &::after
                        content: "•"
                        margin: 0 10px
                        display: inline

                    &:last-child::after
                        display: none

            .synopsis
                margin-top: 20px

            .buttons
                position absolute
                bottom: 4px
