.movie-details
    width: 100%
    height: calc(100vh - 50px)
    position: fixed
    top: 50px
    background: rgba(0, 0, 0, 0.9)
    z-index: 10

    .close
        position: absolute
        right: 30px
        top: 20px
        font-size: 30px
        color: $color-white
        opacity: 1

    .content
        position: absolute
        width: 600px
        height: 300px
        top: 0
        right: 0
        left: 0
        bottom: 0
        margin: auto

        .thumb
            width: 234px
            height: 300px
            float: left

            .image
                width: 204px
                height: 300px
                background-repeat: no-repeat
                background-size: cover
                border-radius: 5px

        .infos
            h3
                margin: 0
