.edit-infos(ng-controller="EditInfosCtrl")

    //# CLOSE BUTTON
    a.close(href="", ng-click="close()")
        i.s-times

    //# CONTENT, LOL
    .content
        h2
            | Edit   
            em {{ movie.title }}

            form
            
                label File path
                .input-group
                    input.form-control(type="text", ng-model="movie.path")
                    .input-group-btn
                        .btn.ui-button(ng-click="find_file()") Find
                
                label Title
                input(type="text", ng-model="movie.title")
                
                label Year
                input(type="text", ng-model="movie.year")
                
                label Synopsis
                textarea(ng-model="movie.synopsis")
                
                label Cover URL (small)
                input(type="text", ng-model="movie.cover.small")
                
                label Cover URL (medium)
                input(type="text", ng-model="movie.cover.medium")
                
                label Cover URL (large)
                input(type="text", ng-model="movie.cover.large")
                
                label Background URL (small)
                input(type="text", ng-model="movie.background.small")
                
                label Background URL (medium)
                input(type="text", ng-model="movie.background.medium")
                
                label Background URL (large)
                input(type="text", ng-model="movie.background.large")

                p.buttons
                    a.ui-button(ng-click="update()") Save
                    img(src="images/loaders/puff.svg", ng-if="loading.update == true")
