//# MAIN HEADER
header.main-header
    
    .nav.navbar.navbar-left.os-buttons
        .button.cls
        .button.min
        .button.max
    
    .logo Gummy

    .nav.navbar.navbar-right
        .settings
            i.s-cog
