//# MAIN HEADER
header.main-header(ng-controller="HeaderCtrl")

    .os-buttons(ng-class="{ nofocus: focused == false }")
        a.button.cls(ng-click="close()")
        a.button.min(ng-click="minimize()")
        a.button.max(ng-click="maximize()")
    
    .logo

    .settings
        i.s-cog
