.movie-details(ng-controller="MovieDetailsCtrl", style="background-image: url({{ movie.background.large }})")
    
    .background

    //# CLOSE BUTTON
    a.close(href="", ng-click="close()")
        i.s-times

    //# ABSOLUTE CENTERED
    .content

        //# THUMBNAIL
        .thumb
            .image(style="background-image:url({{ movie.cover.large }})")

        //# MOVIE DETAILS
        .infos
            p.cast {{ movie.cast }}
            h3.title {{ movie.title }}
            p.additional_infos
                span {{ movie.year }}
                span {{ movie.rating }}
            p.synopsis {{ movie.synopsis }}

            //# BUTTONS
            .buttons
                a.ui-button(href="") Watch
