.main-grid
    div.movie(ng-repeat="movie in grid | orderBy:id")
        
        a(href="javascript:;", ng-click="open_movie(movie)", ng-context-menu="movie")
            .thumb-wrapper
                .thumb(style="background-image:url({{ movie.cover.small }});")
            p.title {{ movie.title }}
